<!DOCTYPE html>
<html>
  <head>
    <title>lolwut</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="" ng-controller="mycontroller">
      <form ng-submit="submit()">
        <input type="text" ng-model="teamID" />
        <br>
        <img ng-src="{{image[0]}}" />
        <img ng-src="{{image[1]}}" />
        <img ng-src="{{image[2]}}" />
        <img ng-src="{{image[3]}}" />
        <img ng-src="{{image[4]}}" />
        <img ng-src="{{image[5]}}" />
        <br>
        HP: {{stats.hp[0]}} {{stats.hp[1]}} {{stats.hp[2]}} {{stats.hp[3]}} {{stats.hp[4]}} {{stats.hp[5]}}
        <br>
        ATK: {{stats.atk[0]}} {{stats.atk[1]}} {{stats.atk[2]}} {{stats.atk[3]}} {{stats.atk[4]}} {{stats.atk[5]}}
        <br>
        RCV: {{stats.rcv[0]}} {{stats.rcv[1]}} {{stats.rcv[2]}} {{stats.rcv[3]}} {{stats.rcv[4]}} {{stats.rcv[5]}}
        <br>
        Enhanced Orbs: {{meta.enhance}}
        <br>
        Rows: {{meta.rows}}
        <br>
      </form>
      
      <form ng-submit="combo()">
        
        Fire: <input ng-model="orbs.fire" ng-list required />
        Water: <input ng-model="orbs.water" ng-list required/>
        Wood: <input ng-model="orbs.wood" ng-list required/>
        Light: <input ng-model="orbs.light" ng-list required/>
        Dark: <input ng-model="orbs.dark" ng-list required/>
        Heart: <input ng-model="orbs.heart" ng-list required/>
        <br>
        #Enhanced orbs: <input ng-model="orbs.enhanced_orbs" ng-list required/>
        #Rows: <input ng-model="orbs.row" ng-list required/>
        <br>
        <!-- This is fucking dumb. -->
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        <br>
        <br>
        Damage: {{damage}}

      </form>
    </div>
  </body>
    <script>
    function mycontroller($scope) {
      var sock

      window.onbeforeunload = function closingCode() {
        //Close websocket
        console.log("byebye")
        sock.close()
        return null;
      }

      $scope.teamID = "77475";
      $scope.orbs = {
        fire: [],
        water: [],
        wood: [],
        light: [],
        dark: [],
        heart: [],
        enhanced_orbs: [0,0,0,0,0],
        row: [0,0,0,0,0]
      };
      $scope.image = [ "", "", "", "", "", "" ];
      $scope.stats = {
        hp: [],
        atk: [],
        rcv: []
      };
      $scope.meta = {
        enhance: [],
        rows: []
      };
      $scope.damage = ""
      
      $scope.combo = function() {
        for (var $i in $scope.orbs) {
          $scope.orbs[$i] = $scope.orbs[$i].map(function(x) {
                return parseInt(x, 10);
              })
        };
        console.log(JSON.stringify($scope.orbs))
        sock.send(JSON.stringify($scope.orbs))
      };
      
      $scope.submit = function() {
        //Need to find a way to pass back data initially, maybe GET request then use websockets on the combos() function?
        //or just tag the data like a cruff.
        
        sock = new WebSocket("ws://54.88.52.106:8080/team/" + $scope.teamID + "/");
        //console.log ($scope.teamID)
        sock.onopen = function () { }
        sock.onmessage = function (message) {
          var m = JSON.parse(message.data);

          if (m.initial) {
            //Initial message
            m.team.forEach(function(entry) {
                console.log(entry);
              });
            
            $scope.$apply(function() {
                for (var i = 0; i < $scope.image.length; i++) {
                  $scope.image[i] = "http://padherder.com/"+m.team[i].image60_href
                  $scope.stats.hp[i] = m.team[i].stats.hp
                  $scope.stats.atk[i] = m.team[i].stats.atk
                  $scope.stats.rcv[i] = m.team[i].stats.rcv
                  $scope.meta.enhance = m.orb_enhances
                  $scope.meta.rows = m.row_enhances
                }
              });
          } else {
            $scope.$apply(function() {
                console.log(JSON.stringify(m))
                $scope.damage = JSON.stringify(m)
              });
          }
        }
      };
    }
    </script>
  </body>
</html>
